@keyframes shiny-border {
    0% { border-image-source: linear-gradient(0deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5); }
    25% { border-image-source: linear-gradient(90deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5); }
    50% { border-image-source: linear-gradient(180deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5); }
    75% { border-image-source: linear-gradient(270deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5); }
    100% { border-image-source: linear-gradient(360deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5); }
  }